* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
  }
  
  #quiz-container {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .correct {
    background-color: #8fcf8f;
  }
  
  .wrong {
    background-color: #f58f8f;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }